<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SendMail</servlet-name>
  	<display-name>SendMail</display-name>
  	<description></description>
  	<servlet-class>controller.SendMail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginExecutive</servlet-name>
  	<display-name>LoginExecutive</display-name>
  	<description></description>
  	<servlet-class>controller.LoginExecutive</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>database.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostUpload</servlet-name>
  	<display-name>PostUpload</display-name>
  	<description></description>
  	<servlet-class>controller.PostUpload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RequestSubmit</servlet-name>
  	<display-name>RequestSubmit</display-name>
  	<description></description>
  	<servlet-class>controller.RequestSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SendMail</servlet-name>
  	<url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginExecutive</servlet-name>
  	<url-pattern>/LoginExecutive</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostUpload</servlet-name>
  	<url-pattern>/PostUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RequestSubmit</servlet-name>
  	<url-pattern>/RequestSubmit</url-pattern>
  </servlet-mapping>
</web-app>
