<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>  
    <param-name>file_upload_path</param-name>  
    <param-value>D:/Apache Server/apache-tomcat-9.0.30/webapps/</param-value>  
  </context-param>
  <servlet>
  	<servlet-name>SendMail</servlet-name>
  	<display-name>SendMail</display-name>
  	<description></description>
  	<servlet-class>controller.SendMail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginExecutive</servlet-name>
  	<display-name>LoginExecutive</display-name>
  	<description></description>
  	<servlet-class>controller.LoginExecutive</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostUpload</servlet-name>
  	<display-name>PostUpload</display-name>
  	<description></description>
  	<servlet-class>controller.PostUpload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RequestSubmit</servlet-name>
  	<display-name>RequestSubmit</display-name>
  	<description></description>
  	<servlet-class>controller.RequestSubmit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Update</servlet-name>
  	<display-name>Update</display-name>
  	<description></description>
  	<servlet-class>controller.Update</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OTPSend</servlet-name>
  	<display-name>OTPSend</display-name>
  	<description></description>
  	<servlet-class>controller.OTPSend</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OTPCheck</servlet-name>
  	<display-name>OTPCheck</display-name>
  	<description></description>
  	<servlet-class>controller.OTPCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PasswordUpdate</servlet-name>
  	<display-name>PasswordUpdate</display-name>
  	<description></description>
  	<servlet-class>controller.PasswordUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Delete</servlet-name>
  	<display-name>Delete</display-name>
  	<description></description>
  	<servlet-class>controller.Delete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Like</servlet-name>
  	<display-name>Like</display-name>
  	<description></description>
  	<servlet-class>controller.Like</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Comment</servlet-name>
  	<display-name>Comment</display-name>
  	<description></description>
  	<servlet-class>controller.Comment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUp</servlet-name>
  	<display-name>SignUp</display-name>
  	<description></description>
  	<servlet-class>controller.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SendMail</servlet-name>
  	<url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginExecutive</servlet-name>
  	<url-pattern>/LoginExecutive</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostUpload</servlet-name>
  	<url-pattern>/PostUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RequestSubmit</servlet-name>
  	<url-pattern>/RequestSubmit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Update</servlet-name>
  	<url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OTPSend</servlet-name>
  	<url-pattern>/OTPSend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OTPCheck</servlet-name>
  	<url-pattern>/OTPCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordUpdate</servlet-name>
  	<url-pattern>/PasswordUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Delete</servlet-name>
  	<url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Like</servlet-name>
  	<url-pattern>/Like</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Comment</servlet-name>
  	<url-pattern>/Comment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUp</servlet-name>
  	<url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
</web-app>
